@import 'bootstrap';

h1 {
  padding: 15px 0px 0px 10px;
}

body {
  color: white;

  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.display {
  text-align: right;
  background-color: rgba($color: #000000, $alpha: .5);
  padding: 14px;
  font-size: 30px;
} 

.calculator {
  padding: 15px 10px 0 10px;
}

.pad {
  text-align: center;
  padding: 30px;
  background: rgba($color: #4e4e4e, $alpha: .5);
  display: block;
  border: 1px solid rgba($color: #000000, $alpha: .4);
  color: white;
  width: 100%;
}